@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7f8;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f7f8;
    --foreground: #0a0a0a;
  }
}

body {
  color: #475569;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 1);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

/* Always show scrollbar with higher opacity when no content */
.scrollbar-visible::-webkit-scrollbar-thumb:empty {
  background: rgb(11, 11, 11); /* Maintain higher opacity */
}
