/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-10px); /* Move up 10px */
  }
}

.bounce {
  animation: bounce 2.5s 1000; /* Animation details */
}

.floor-container {
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  overflow-y: hidden;
  width: 230px;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
.floor-container2 {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  width: 230px;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.floor-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, Opera */
}

.floor-button {
  width: 3rem;
  height: 2.5rem; /* Equivalent to h-10 */
  border: 1px solid #64748b; /* Equivalent to border-slate-600 */
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.25rem; /* Equivalent to mx-1 */
  transition: background-color 0.2s ease;
}

.expanded-content {
  transition: all 0.3s ease; /* Optional: for smooth transition */
  position: absolute; /* Make sure the content can overlap */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  z-index: 10; /* Bring it above other elements */
  width: 100%; /* Adjust width as needed */
  /* Additional styles for expanded content */
}
