/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Starting position */
  }
  50% {
    transform: translateY(-10px); /* Move up 10px */
  }
}

.bounce {
  animation: bounce 2.5s 1000; /* Animation details */
}
